<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 本映射文件对应 UsersMapper 接口 -->
<mapper namespace="com.ziran.addresslist.mapper.UsersMapper">
    <select id="getUserById" resultType="com.ziran.addresslist.entity.Users">
        select * from contacts.users where user_id = #{userId} and is_delete = false
    </select>
    <select id="getUserByName" resultType="com.ziran.addresslist.entity.Users">
        select * from contacts.users where user_name = #{userName} and is_delete = false
    </select>
    <select id="getAllUsers" resultType="com.ziran.addresslist.entity.Users">
        select * from contacts.users where is_delete = false
    </select>
    <select id="searchUsers" resultType="com.ziran.addresslist.entity.Users">
        select *
        from contacts.users
        where user_name like concat('%', #{keyword}, '%') or user_id = #{keyword};
    </select>
</mapper>